<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>LoginWebController</servlet-name>
        <servlet-class>com.project.webcontrollers.LoginWebController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginWebController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <!-- Define the servlet name and its class -->
        <servlet-name>StudentController</servlet-name>
        <servlet-class>com.project.webcontrollers.StudentController</servlet-class>
    </servlet>

    <servlet-mapping>
        <!-- Map the servlet to a URL pattern -->
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/StudentController</url-pattern>
    </servlet-mapping>
    <servlet>
        <!-- Define the servlet name and its class -->
        <servlet-name>HireController</servlet-name>
        <servlet-class>com.project.webcontrollers.HireWebController</servlet-class>
    </servlet>

    <servlet-mapping>
        <!-- Map the servlet to a URL pattern -->
        <servlet-name>HireController</servlet-name>
        <url-pattern>/hireTutor</url-pattern>
    </servlet-mapping>
</web-app>
